<noscript>
    You need to enable JavaScript to run this app.
</noscript>
<div id="root">
  <div class="wrapper">
    <div id="GTM">
      <div>
        <noscript>
          <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TNK7WZ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
      </div>
      <div id="react-google-tag-manager-gtm">
        <script>
          (function(w,d,s,l,i){w[l]=w[l]||[];
              w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js', });
              var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
              j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl
              ;
              f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-TNK7WZ');
        </script>
      </div>
    </div>
    <div>
      <section>
        <div class="d-flex">
          <nav class="sidenav hide">
            <div class="panel1">
              <div class="links">
                <a href="https://www.lider.cl/supermercado/" class="custom-link" target="_blank" rel="noopener noreferrer">
                  <img alt="link-icon" width="20" src="https://www.lider.cl/catalogo/images/marketIcon.svg" style="margin-left: -5px; margin-right: 10px;">Ir a supermercado
                </a>
              </div>
            </div>
          </nav>
          <div id="header" class="header-info">
            <span>Servicio al cliente de Lider.cl: WhatsApp 
              <a href="https://api.whatsapp.com/send?phone=56957211492&amp;text=Hola!%20Tengo%20una%20consulta">+56957211492</a> | Horario: de lunes a viernes de 8:00 a 22:00 y sábado, domingo y festivos de 9:00 a 22:00
            </span>
          </div>
          <div class="site-header compact" style="background-color: rgb(0, 113, 206);">
            <div class="logo">
              <a href="https://www.lider.cl/catalogo/">
                <img alt="Lider Logo" src="https://www.lider.cl/catalogo/images/lider-logo.svg">
              </a>
            </div>
            <div class="menu-icon-container">
              <div style="cursor: pointer;">
                <i class="zmdi zmdi-menu menu-icon">
                      </i>
                <div class="show-category">Categorías</div>
              </div>
            </div>
            <div style="width: 100%; margin: 0px 4%;">
              <div class="search-width">
                <div class="search-box-container-header" style="padding-top: 10px;">
                  <section>
                    <div class="ais-InstantSearch__root">
                      <div class="ais-InstantSearch__root">
                        <div class="ais-SearchBox">
                          <form class="ais-SearchBox-form" role="search">
                            <input type="text" placeholder="¿Qué estás buscando?" maxlength="512" class="ais-SearchBox-input" value="" id="search" (keyup)="filterPromoction(search.value)"  #search>
                            <button type="submit" title="Submit your search query." class="ais-SearchBox-submit search-input-icons">
                              <svg class="ais-SearchBox-submitIcon" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 40 40">
                                <path d="M26.804 29.01c-2.832 2.34-6.465 3.746-10.426 3.746C7.333 32.756 0 25.424 0 16.378 0 7.333 7.333 0 16.378 0c9.046 0 16.378 7.333 16.378 16.378 0 3.96-1.406 7.594-3.746 10.426l10.534 10.534c.607.607.61 1.59-.004 2.202-.61.61-1.597.61-2.202.004L26.804 29.01zm-10.426.627c7.323 0 13.26-5.936 13.26-13.26 0-7.32-5.937-13.257-13.26-13.257C9.056 3.12 3.12 9.056 3.12 16.378c0 7.323 5.936 13.26 13.258 13.26z">
                                </path>
                              </svg>
                            </button>
                            <button type="button" title="Clear the search query." class="ais-SearchBox-reset search-input-icons" hidden="">
                              <svg class="ais-SearchBox-resetIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="10" height="10">
                                <path d="M8.114 10L.944 2.83 0 1.885 1.886 0l.943.943L10 8.113l7.17-7.17.944-.943L20 1.886l-.943.943-7.17 7.17 7.17 7.17.943.944L18.114 20l-.943-.943-7.17-7.17-7.17 7.17-.944.943L0 18.114l.943-.943L8.113 10z">
                                </path>
                              </svg>
                            </button>
                            <span class="ais-SearchBox-loadingIndicator" hidden="">
                              <svg width="18" height="18" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#444" class="ais-SearchBox-loadingIcon">
                                <g fill="none" fill-rule="evenodd">
                                  <g transform="translate(1 1)" stroke-width="2">
                                    <circle stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
                                    <path d="M36 18c0-9.94-8.06-18-18-18" transform="rotate(215.328 18 18)">
                                      <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"></animateTransform>
                                    </path>
                                  </g>
                                </g>
                              </svg>
                            </span>
                          </form>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
            <div class="StoreSelector__StoreSelectorContainer-sc-41lzk8-1 hViWYg">
              <div style="margin-left: 8px; display: flex; flex-direction: column;"></div>
            </div>
            <div class="cart-supermarket-width">
              <div class="cart-container" style="background-color: rgb(6, 86, 143);">
                <li class="list-inline-item cart-dropdown dropdown nav-item">
                  <a aria-haspopup="true" href="#" class="p-0 nav-link" aria-expanded="false">
                    <div id="shoppingCart" class="d-flex justify-content-between shopping-cart-images">
                      <img alt="cart" src="https://www.lider.cl/catalogo/images/lider-cart.svg" width="29" height="25">
                      <div class="cart-quantity">
                        <div id="quantityNumber" class="quantity-number">0</div>
                      </div>
                    </div>
                  </a>
                  <div tabindex="-1" role="menu" aria-hidden="true" class="walmart-dropdown-cart dropdown-menu">
                    <div class="dropdown-content">
                      <div>
                        <div class="d-flex pull-right p-2 mr-5">
                          <span class="cp-no-select">
                            <i class="zmdi zmdi-close" style="font-size: 20px;"></i>
                          </span>
                        </div>
                        <div class="text-center p-4">
                          <img alt="empty-cart" src="https://www.lider.cl/catalogo/images/empty-cart.svg">
                          <h3 style="padding-top: 9px;">Tu carro está vacío</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </div>
              <div class="go-to-supermarket-link">
                <a href="https://www.lider.cl/supermercado" target="_blank" rel="noopener noreferrer">
                  <img alt="market-icon" width="20" src="https://www.lider.cl/catalogo/images/marketIcon.svg" style="margin-right: 5px;">Supermercado
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="app-container-home">
          <div class="rct-app-content">
            <div class="rct-page">
              <div class="rct-page-content">
                <div class="content-wrapper">
                  <div class="shop-wrapper">
                    <div class="rct-page">
                      <div class="shop-wrapper">
                        <div class="d-flex mb-20">
                          <span class="categories-carousel-header">¡Compra online por categorías!</span>
                        </div>
                        <div>
                        <div class="text-center blue-bold-text-20 mb-20" style="height: 54px;">
                        <div class="category-products-background-block"></div>
                          <div class="position-absolute" style="margin-top: 24px; margin-left: 10px;">Promociones!</div>
                        </div>
                        <div class="text-center mb-60">
                          <div class="slick-slider slick-initialized" dir="ltr">
                            <div class="slick-list">
                              <div class="slick-track" style="width: 100%; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                                <!-- INICIO PROMOCIONES -->
                                <div data-index="0" tabindex="-1" aria-hidden="false" class="slick-slide slick-active slick-current" style="outline: none; width: 237px;" *ngFor="let pro of promotionService.promotions">
                                  <div>
                                    <div tabindex="-1" style="width: 100%; display: inline-block;">
                                      <div class="products-carousel-home false">
                                        <div>
                                          <div class="rct-block carousel-max-width product-block flex-column justify-content-between overflow-hidden bg-white">
                                            <a style="text-decoration: none; height: 100%; display: inline; background-color: white;">
                                              <div id="998226" class="overlay-wrap overflow-hidden bg-white" style="display: flex; align-items: center; justify-content: center; max-height: 240px; min-height: 200px; width: 100%;">
                                                <div class="text-center">
                                                  <div class="product-image-shadow"></div>
                                                  <div class="d-flex labels-container">
                                                    <div class="d-flex internet-exclusive-container">
                                                      <span class="internet-exclusive-text">exclusivo internet</span>
                                                    </div>
                                                  </div>
                                                  <div id="image" class="bg-white">
                                                    <img id="lazy-img" alt="" [src]="'https://'+pro.image" class="img-hover-zoom img-fluid m-auto" style="filter: unset; min-width: 50px; max-height: 240px;">
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="product-info">
                                                <div class="d-flex text-left product-description mb-15">
                                                  <div>
                                                    <span style="font-weight: bold; color: rgb(0, 0, 0);">{{ pro.brand }}</span>
                                                    <span> {{ pro.description }}</span>
                                                  </div>
                                                </div>
                                                <div class="mb-12">
                                                  <div class="walmart-sales-price d-flex" style="display: flex; align-items: center;" >${{  pro.price / show }}
                                                    <div *ngIf="show == 2" class="walmart-discount-percentage-card" style="margin-top: 1px; margin-left: 6px;" >50%</div>
                                                  </div>
                                                  <div class="d-flex">
                                                    <span class="styled__BasePrice-sc-5i75pk-4 eQiKoB">{{ pro.price | number }}</span>
                                                  </div>
                                                </div>
                                                <div class="d-flex" style="position: absolute; bottom: 70px;">
                                                  <div class="d-flex home-delivery-container">
                                                    <span class="home-delivery-image">
                                                      <img alt="homeDeliveryIcon" src="https://www.lider.cl/catalogo/images/despacho-icon.svg" width="17" height="20" class="vertical-align">
                                                    </span>
                                                    <span class="home-delivery-text">despacho</span>
                                                  </div>
                                                  <div class="d-flex site-to-store-container">
                                                    <span class="site-to-store-image">
                                                      <img alt="siteToStoreIcon" src="https://www.lider.cl/catalogo/images/delivery-icon.svg" width="17" height="14" class="vertical-align">
                                                    </span>
                                                    <span class="site-to-store-text">retiro</span>
                                                  </div>
                                                </div>
                                                <div>
                                                  <div class="walmart-add-cart-button-container" style="justify-content: center; width: 95%;">
                                                    <span id="addProductToCart" class="walmart-add-cart-button pt-5 text-center cp-no-select">Agregar</span>
                                                  </div>
                                                  <div class="walmart-add-cart-button-container-alert"></div>
                                                </div>
                                              </div>
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- FIN PROMOCIONES -->
                              </div>
                            </div>
                          </div>
                          <div class="d-flex justify-content-between"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="background: rgb(0, 113, 206);">
            <div class="rct-app-content">
              <div style="background: rgb(255, 255, 255); max-width: inherit;">
                <div class="content-wrapper">
                  <div class="shop-wrapper">
                    <div class="rct-page_d">
                      <div class="pb-30">
                        <div class="row">
                          <div class="col-1"></div>
                          <div id="renderCampaignCyberLegal" class="col-12 bg-white cp-no-select" style="padding: 10px; box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px; border-radius: 4px;">
                            <span class="span-legal">Ver Información Legal </span>
                            <span class="pull-right">
                              <img alt="white-arrow" height="18" src="https://www.lider.cl/catalogo/images/arrow_blue.svg" style="transform: none;">
                            </span>
                          </div>
                          <div class="col-1"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <footer class="footer">
              <div class="container-footer">
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-2">
                    <div class="d-flex pt-10 pb-10 font-16">¿Necesitas Ayuda?</div>
                    <div class="d-flex pt-5 pb-5 text-left">
                      <a class="font-weight-normal text-white" href="https://www.lider.cl/supermercado/info/faq" target="_blank">Preguntas frecuentes</a>
                    </div>
                    <div class="d-flex pt-5 pb-5 text-left">
                      <a class="font-weight-normal text-white" href="/catalogo/help/servicio-tecnico" target="">Servicio técnico</a>
                    </div>
                    <div class="d-flex pt-5 pb-5 text-left">
                      <a class="font-weight-normal text-white" href="http://walmartchile.paperless.cl/BoletaWeb/" target="_blank">Consulta tu boleta</a>
                    </div>
                    <div class="d-flex pt-5 pb-5 text-left">
                      <a class="font-weight-normal text-white" href="https://www.lider.cl/supermercado/info/devoluciones" target="_blank">Devoluciones y cambios</a>
                    </div>
                    <div class="d-flex pt-5 pb-5 text-left">
                      <a class="font-weight-normal text-white" href="https://www.librodigitalchile.cl/Store/MenuLidercl/ODIw" target="_blank">Consultas y reclamos</a>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="d-flex pt-10 pb-10 font-16">Infórmate</div>
                    <div class="d-flex pt-5 pb-5 text-left">
                      <a class="font-weight-normal text-white" href="https://www.lider.cl/supermercado/info/mediosdepago" target="_blank">Medios de pago</a>
                    </div>
                    <div class="d-flex pt-5 pb-5 text-left">
                      <a class="font-weight-normal text-white" href="https://www.lider.cl/supermercado/info/seguro" target="_blank">Pago 100% seguro</a>
                    </div>
                    <div class="d-flex pt-5 pb-5 text-left">
                      <a class="font-weight-normal text-white" href="https://www.lider.cl/supermercado/info/ganadoresconcursos" target="_blank">Ganadores de concursos</a>
                    </div>
                    <div class="d-flex pt-5 pb-5 text-left">
                      <a class="font-weight-normal text-white" href="https://www.lider.cl/supermercado/info/beneficios" target="_blank">Beneficios Lider.cl</a>
                    </div>
                    <div class="d-flex pt-5 pb-5 text-left">
                      <a class="font-weight-normal text-white" href="https://www.tarjetaregalolider.cl/" target="_blank">Tarjeta de regalo</a>
                    </div>
                    <div class="d-flex pt-5 pb-5 text-left">
                      <a class="font-weight-normal text-white" href="https://www.recetaslider.cl/" target="_blank">Recetas Lider</a>
                    </div>
                    <div class="d-flex pt-5 pb-5 text-left">
                      <a class="font-weight-normal text-white" href="https://www.servifacil.cl/" target="_blank">Servifácil</a>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="d-flex pt-10 pb-10 font-16">Encuéntranos</div>
                    <div class="d-flex pt-5 pb-5 text-left">
                      <a class="font-weight-normal text-white" href="https://www.lider.cl/tiendas" target="_blank">Nuestros locales</a>
                    </div>
                    <div class="d-flex pt-5 pb-5 text-left">
                      <a class="font-weight-normal text-white" href="https://www.lider.cl/supermercado/info/pickup" target="_blank">Tiendas con Pickup</a>
                    </div>
                    <div class="d-flex pt-5 pb-5 text-left">
                      <a class="font-weight-normal text-white" href="https://www.lider.cl/supermercado/info/CoberturaSupermercado" target="_blank">Cobertura supermercado</a>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="d-flex pt-10 pb-10 font-16">Acerca de Lider</div>
                    <div class="d-flex pt-5 pb-5 text-left">
                      <a class="font-weight-normal text-white" href="https://www.lider.cl/supermercado/info/acercadenosotros" target="_blank">Acerca de nosotros</a>
                    </div>
                    <div class="d-flex pt-5 pb-5 text-left">
                      <a class="font-weight-normal text-white" href="https://www.lider.cl/supermercado/info/terminos" target="_blank">Términos y condiciones</a>
                    </div>
                    <div class="d-flex pt-5 pb-5 text-left">
                      <a class="font-weight-normal text-white" href="https://www.lider.cl/supermercado/info/privacidad" target="_blank">Política de privacidad</a>
                    </div>
                    <div class="d-flex pt-5 pb-5 text-left">
                      <a class="font-weight-normal text-white" href="https://www.lider.cl/supermercado/info/informacion-legal" target="_blank">Información legal</a>
                    </div>
                    <div class="d-flex pt-5 pb-5 text-left">
                      <a class="font-weight-normal text-white" href=" http://www.empleoswalmartchile.cl/" target="_blank">Trabaja en Lider</a>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="d-flex pt-10 pb-10 font-16">Síguenos</div>
                    <div class="d-flex">
                      <a href="https://www.twitter.com/lidercl" class="mr-20" target="_blank" rel="noopener noreferrer">
                        <img alt="twitter-logo" src="https://www.lider.cl/catalogo/images/Twitter.svg" width="18">
                      </a>
                      <a href="https://www.facebook.com/lidercl" class="mr-20" target="_blank" rel="noopener noreferrer">
                        <img alt="facebook-logo" src="https://www.lider.cl/catalogo/images/Facebook.svg" width="18">
                      </a>
                      <a href="https://www.youtube.com/user/supermercadoslider" class="mr-20" target="_blank" rel="noopener noreferrer">
                        <img alt="youtube-logo" src="https://www.lider.cl/catalogo/images/Youtube.svg" width="18">
                      </a>
                      <a href="https://www.instagram.com/lider_cl" target="_blank" rel="noopener noreferrer">
                        <img alt="instagram-logo" src="https://www.lider.cl/catalogo/images/Instagram.svg" width="18">
                      </a>
                    </div>
                  </div>
                  <div class="col-1"></div>
                </div>
              </div>
            </footer>
            <div class="bg-white pt-10">
              <div class="d-flex justify-content-center pt-10">
                <p class="pt-10 font-12">Nuestras empresas</p>
                <a href="http://www.walmartchile.cl/" class="pl-10 pr-10" target="_blank" rel="noopener noreferrer">
                  <img alt="walmart-chile" height="34" src="https://www.lider.cl/catalogo/images/wmt_chile.jpg">
                </a>
                <a href="https://www.lider.cl/" class="pl-10 pr-10" target="_blank" rel="noopener noreferrer">
                  <img alt="lider" height="34" src="https://www.lider.cl/catalogo/images/lider.jpg">
                </a>
                <a href="https://www.lider.cl/" class="pl-10 pr-10" target="_blank" rel="noopener noreferrer">
                  <img alt="lider-express" height="34" src="https://www.lider.cl/catalogo/images/express.jpg">
                </a>
                <a href="http://www.superbodegaacuenta.cl/" class="pl-10 pr-10" target="_blank" rel="noopener noreferrer">
                  <img alt="acuenta" height="34" src="https://www.lider.cl/catalogo/images/acuenta.jpg">
                </a>
                <a href="https://www.centralmayorista.cl/" class="pl-10 pr-10" target="_blank" rel="noopener noreferrer">
                  <img alt="central-mayorista" height="34" src="https://www.lider.cl/catalogo/images/central_mayorista.jpg">
                </a>
                <a href="http://www.miclublider.cl/" class="pl-10 pr-10" target="_blank" rel="noopener noreferrer">
                  <img alt="mi-club-lider" height="34" src="https://www.lider.cl/catalogo/images/mi_club_lider.jpg">
                </a>
              </div>
              <div class="d-flex justify-content-center pt-5 pb-5">
                <div class="footer-divider"></div>
              </div>
              <div class="d-flex justify-content-center">
                <p class="font-10">Lider.cl - Razón Social: Lider Domicilio Ventas y Distribución Limitada, RUT: 78.968.610-6, es administrada y representada por Sermob Limitada, la que a su vez es representada por Matías Puente S. Dirección: Avenida del Valle N° 725, Huechuraba, Chile. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

